{% extends 'index.html' %}

{% block title %}Моe резюме{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Мое резюме</h1>
        <h1 class="text-center mb-4">Черненко Анастасия Витальевна</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Образование</h2>
                <h4>Международная Академия Информационных Технологий «ИТ ХАБ»</h4>
                <p class="mb-0">Разработка веб и мультимедийных приложений</p>
                <p class="text-muted">2025-2028</p>
            </div>
            <div class="col-md-6">
                <h2>Опыт работы</h2>
                <h4>Голосовая поддержка Яндекс.Еда</h4>
                <p class="mb-0">2022-2023</p>
                <h4>Поддержка пользователей Яндекс.Плюс</h4>
                <p class="mb-0">2023</p>
                <p class="text-muted">Младший сотрудник</p>
                <h4>ООО Дрогери Ритейл (Улыбка радуги)</h4>
                <p class="mb-0">2025-2026</p>
                <p class="text-muted">Продавец-кассир</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Навыки</h2>
		   <ul class="list-group">
                    <li class="list-group-item list-group-item-success border-0 py-1"><i class="fa fa-cog"></i> HTML5 и CSS3 (включая Flexbox, Grid, адаптивную верстку)</li>
                    <li class="list-group-item list-group-item-info border-0 py-1"><i class="fa fa-cog"></i> JavaScript (DOM-манипуляции) </li>
                    <li class="list-group-item list-group-item-warning border-0 py-1"><i class="fa fa-cog"></i> Python (типы данных, datetime, Flask для веб-приложений)</li>
                    <li class="list-group-item list-group-item-danger border-0 py-1"><i class="fa fa-cog"></i> TypeScript (базовые знания для типизации JS)</li>
                    <li class="list-group-item list-group-item-success border-0 py-1"><i class="fa fa-cog"></i> Figma для UI-прототипов и дизайна интерфейсов </li>
                    <li class="list-group-item list-group-item-info border-0 py-1"><i class="fa fa-cog"></i> Работа с JSON/XML и парсинг данных (включая DTD-валидацию)</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Увлечения</h2>
                <h4>Чтение</h4>
                <p class="text-muted mb-0">- Коллекционирование книг</p>
                <h4>Пешие прогулки</h4>
                <h4>Музыка</h4>
                <p class="text-muted mb-0">- Посещение концертов и театров</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Контакты</h2>
                <p class="mb-0"><i class="fa fa-phone"></i> Телефон: +79916588020</p>
                <p class="mb-0"><i class="fa fa-envelope"></i> Email: nastenkachernenko030426@mail.ru</p>
                <p class="mb-0"><i class="fa fa-github"> GitHub: <a href="https://github.com/Starmink66"></i>Starmink66</a></p>
            </div>
            <div class="col-md-6">
                <h2>Языки</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger border-0 py-1"><i class="fa fa-check-circle"></i> Английский (A2)</li>
                    <li class="list-group-item list-group-item-success border-0 py-1"><i class="fa fa-check-circle"></i> Русский (родной)</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
